/* Card */

.card {
    display: flex;
    position: fixed;
    right: 0;
    margin-top: 10em;
    width: 190px;
    height: 120px;
    background-image: linear-gradient(130deg, #f2d673 0%, #706201 100%);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    z-index: 999;
}
   
.card2 {
    width: 190px;
    height: 120px;
    background-color: #686666;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;;
}

.card:hover {
    transform: scale(0.98);
    border-radius: 2.5rem 0 2.5rem 0;
    -webkit-border-radius: 2.5rem 0 2.5rem 0;
    -moz-border-radius: 2.5rem 0 2.5rem 0;
    -ms-border-radius: 2.5rem 0 2.5rem 0;
    -o-border-radius: 2.5rem 0 2.5rem 0;
}
   
.card2:hover {
    transform: scale(0.98);
    border-radius: 2.5rem 0 2.5rem 0;
    -webkit-border-radius: 2.5rem 0 2.5rem 0;
    -moz-border-radius: 2.5rem 0 2.5rem 0;
    -ms-border-radius: 2.5rem 0 2.5rem 0;
    -o-border-radius: 2.5rem 0 2.5rem 0;
}
   
.etiqueta{
    margin-top: -2em;
    margin-left: -0.75em;
    width:200px;
    height:200px;
}

/* Main */

/* Slider */

.slider{
    width: 800px;
    margin: 30px auto;
    overflow: hidden;
    margin-top: 1em;
}

.content-img{
    margin-top: 1em;
    list-style: none;
    display: flex;
    animation: cambio 20s infinite alternate ease-in-out;
    -webkit-animation: cambio 20s infinite alternate ease-in-out;
}

@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

.img{
    width: 800px;
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
}


.img1{
    background-image: url(../img/1.jpeg);
}

.img2{
    background-image: url(../img/2.jpeg);
}

.img3{
    background-image: url(../img/3.jpeg);
}

.img4{
    background-image: url(../img/4.jpeg);
}

/* Sponsors */

.slider-2{
    width: 100vw;
    height: 40vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-track{
    width: 2000px;
    height: 200px;
    position: relative;
    display: flex;
    overflow: hidden;
}

.slide{
    height: 200px;
    display: flex;
    align-items: center;
    animation: slideshow 8s linear infinite;
    -webkit-animation: slideshow 8s linear infinite;
}

.slide img{
    margin-right: 8em;
}

.img-sponsor{
    width: 150px;
}

.img-retoque{
    width: 150px;
    height: 100px;
}

.img-retoque2{
    width: 130px;
}

@keyframes slideshow {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
}

.slider-track::before, .slider-track::after{
    width: 100px;
    height: 200px;
    position: absolute;
    content: " ";
    background: linear-gradient(to right, #ffffffe7 0%, #ffffff00 100%);
    z-index: 2;
}

.slider-track::before{
    left: 0;
    top: 0;
}

.slider-track::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
}

.subtitulo{
    margin-bottom: 2em;
    border-style: double;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/* Contact*/

.link-icon{
    text-decoration: none;
    color: #5c5959;
}
 
.icon-2 {
    width: 1.5em;
}

.info{
    color: #5c5959;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 1em;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    font-family: 'Merriweather', serif;
}

.info :hover{
    color: #0a2672;
}

.content-divs-2{
    margin-top: 2em;
    display: flex;
}

.content-divs-2 h2{
    font-family: "Tajan Pro", sans-serif;
}

.content-contact{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.contact{
    margin-left: 1em;
}

.text{
    margin-top: 1em;
    font-family: 'Merriweather', serif;
}



/* News */

.content-news{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mail{
    margin-top: 2em;
    width: 25em;
    height: 2em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline: none;
    background-color: #dbdfdd;
    border: 0;
}

.button {
    cursor: pointer;
    font-family: 'Merriweather', serif;
    background: linear-gradient(-45deg, #f2d673, #ad9625, #ad9625, #706201);
    background-size: 800% 400%;
    margin-top: 2em;
    padding: 1em 2em;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
    -webkit-animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}
   
.button:hover {
    animation: gradient 3s infinite;
    -webkit-animation: gradient 3s infinite;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
   
.button:active {
    animation: gradient 3s infinite;
    -webkit-animation: gradient 3s infinite;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}
   
@keyframes gradient {
    0% {
    background-position: 0% 50%;
    }
   
    50% {
    background-position: 100% 50%;
    }
   
    100% {
    background-position: 0% 50%;
    }
}

/* Responsive */

@media screen and (min-width: 768px) and (max-width: 1200px) {
    /* Main */

    .slider{
        width: 500px;
    }

    .img{
        width: 500px;
        height: 600px;
    }

    .content-contact{
        margin-left: 1em;
    }

    .contact li{
        font-size: 14px;
    }

    .content-news{
        margin-right: 1em;
    }

    .text{
        font-size: 14px;
    }

    .mail{
        width: 20em;
    }

     .button{
        width: 6em;
        height: 3em;
        font-size: 15px;
        padding: 0;
    }
  }
  
  @media screen and (min-width: 500px) and (max-width: 768px) {
    /* Main */

    .slider{
        width: 500px;
    }

    .img{
        width: 500px;
        height: 600px;
    }

    .content-contact{
        margin-left: 1em;
    }

    .contact li{
        font-size: 14px;
    }

    .content-news{
        margin-right: 1em;
    }

    .text{
        font-size: 14px;
    }

    .mail{
        width: 20em;
    }

     .button{
        width: 6em;
        height: 3em;
        font-size: 15px;
        padding: 0;
    }
  }

  @media screen and (min-width: 300px) and (max-width: 500px) {
    .card, .card2{
        width: 120px;
        height: 100px;
    }

    .etiqueta{
        width: 140px;
        height: 140px;
        margin-top: -1em;
        margin-left: -0.60em;
    }

    /* Main */

    .slider{
        width: 280px;
    }

    .img{
        width: 280px;
        height: 400px;
    }

    .slider-2{
        width: 100vw;
        height: 40vh;
    }

    .slider-track::before, .slider-track::after{
        width: 50px;
        height: 200px;
    }

    .content-divs-2{
        flex-direction: column;
        align-items: center;
    }

    .content-divs-2 h2{
        font-size: 25px;
    }

    .content-contact{
        margin-left: 1em;
        width: 100%;
    }

    .contact li{
        font-size: 15px;
    }

    .content-news{
        margin-right: 1em;
        width: 100%;
    }

    .content-news p{
        margin-left: 1em;
        text-align: center;
    }

    .text{
        font-size: 15px;
    }

    .mail{
        width: 15em;
    }

    .form.error #input-box::before{
        right: 25px;
        top: 32px;
        width: 15px;
        height: 15px;
    }

     .button{
        width: 5em;
        height: 3em;
        font-size: 13px;
        padding: 0;
    }
  } 