/* Main */

.main{
   display: flex;
   justify-content: space-between;
}

.content-ul{
    background: linear-gradient(130deg, #0e47e6 0%, #0a2672 100%);
    width: 10em;
    height: 13em;
    border: 2px solid #0a2672;
}

.content-li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.li-title{
    text-transform: uppercase;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.5em;
}

.a-title{
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    font-family: 'Nunito Sans', sans-serif;
}

.a{
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 1em;
    display: inline-block;
    color: #ffffff;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.li:hover{
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    text-align: center;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.li span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.li span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.li :hover{
    color: #0a2672;
}

.li:hover span {
    padding-right: 15px;
}
   
.li:hover span:after {
    opacity: 3;
    right: 0;
}

.content-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.title{
    font-family: "Tajan Pro", sans-serif;
    margin-bottom: 1em;
    font-size: 3em;
}

.text{
    font-family: 'Merriweather', serif;
    margin-right: 2em;
    margin-bottom: 2em;
}

.video{
    border: 1.5px solid #ad9625;
}


/* Responsive */

@media screen and (min-width: 640px) and (max-width: 1200px) {
    /* Main */

    .content-ul{
        height: 11em;
    }

    .li-title{
        font-size: 1.3em;
    }

    .li{
        font-size: .8em;
    }

    .title{
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 2em;
    }
    
    .text{
        font-size: .8em;
        margin: 0 4em 2em 6em;
    }
  }
  
  @media screen and (min-width: 500px) and (max-width: 640px) {
    /* Main */

    .content-ul{
        height: 11em;
    }

    .li-title{
        font-size: 1.3em;
    }

    .li{
        font-size: .8em;
    }

    .title{
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 2em;
    }
    
    .text{
        font-size: .8em;
        margin: 0 4em 2em 6em;
    }
  }

  @media screen and (min-width: 300px) and (max-width: 500px) {
    /* Main */

    .content-ul{
        height: 11em;
    }

    .a-title{
        font-size: .6em;
    }

    .a{
        font-size: .7em;
    }

    .title{
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.5em;
    }
    
    .text{
        font-size: .7em;
        margin: 0 1em 2em 1em;
    }

    .video{
        width: 300px;
        height: 300px;
        margin-right: 3.5em;
    }

    #content-ul{
        display: none;
    }
  } 